%p#notice= notice

#page-navigation
  %ul
    %li= icon_link_to :home, data_source_path(@data_source)
    %li= icon_link_to :pencil, edit_data_source_data_set_path(@data_source, @data_set)

.data-set
  %p
    %b Name:
    = @data_set.name
  %p
    %b Uri:
    = @data_set.uri
  %p
    %b Description:
    = @data_set.description
  %p
    %b Transform script
  %pre.prettyprint.lang-rb
    = @data_set.transform_script

  %p Tansformed Data
  - if @data_set.data && @data_set.data.size > 0
    %table
      %tr
        - @data_set.data[0].keys.each do |key|
          %th= key
      - @data_set.data.each do |e|
        %tr
          - @data_set.data[0].keys.each do |key|
            %td= e[key]

  %p
    Raw Data
  %pre.prettyprint.lang-xml
    = format_raw_data(@data_set.raw_data)

%script
  $(document).ready(function() {prettyPrint();});