%p#notice= notice

#page-navigation
  %ul
    %li= icon_link_to :plusthick, new_data_source_path

%h1 Data Sources
%table
  %tr
    %th Name
    %th Uri
    %th
  - @data_sources.each do |data_source|
    %tr
      %td= data_source.name
      %td= link_to data_source.uri, data_source.uri

      %td
        = icon_link_to :document, data_source_path(data_source)
        = icon_link_to :pencil, edit_data_source_path(data_source)
        = link_to tag(:span, {:class => 'ui-icon ui-icon-trash'}), data_source, :confirm => 'Are you sure?', :method => :delete
