%p#notice= notice

#page-navigation
  %ul
    %li= icon_link_to :home, data_sources_path
    %li= icon_link_to :pencil, edit_data_source_path(@data_source)
    %li= icon_link_to :document, data_source_path

.data-store
  .name
    %ul
      %li
        Data Source:
        = @data_source.name
  .description
    = render :partial => "description", :locals => {:data_source => @data_source}
  -#.dates
  -#  %h2 Dates
  -#  #timeline-data
  -#%table
  -#  %tr
  -#    - time_line = @data_source.time_line
  -#    - time_line.columns.each do |column_title|
  -#      %th=column_title
  -#  - time_line.rows.each do |row|
  -#    %tr
  -#      - row.each_cell do |cell|
  -#        %td= cell
  
  -#  #timeline-chart
  -#  %p Insert timeline chart
  -#.map
  -#  %h2 Map
  -#  #intensity-chart
  -#.assessment
  -#  .tags
  -#    %h2 Tags
  -#  .quality-scores
  -#    %h2 Quality Scores
  .datasets
    =render :partial => "data_sets", :locals => {:data_source => @data_source }
  .comment
    =render :partial => "comments" #, :local => {:data_source => @data_source }

-#= javascript_include_tag 'map-sample'