!!!
%html
  %head
    %title Oliver
    = stylesheet_link_tag :all
    = javascript_include_tag :defaults
    = javascript_include_tag "github.js"
    = javascript_include_tag "twitStream.js"
    = csrf_meta_tag
    %meta{:content => "Global Pulse Data Source Application Directory", :name => "keywords"}/
    %meta{:content => "Global Pulse Data and Application directory", :name => "description"}/
  %body
    #wrapper
      #logo
        %h1
          - if user_signed_in? then
            = image_tag avatar_url(current_user)
          %a{:href => "#"} Oliver
        %p
          %em
            %a{:href=> 'http://www.unglobalpulse.org'}
              Global Pulse Directories
      %hr/

      #header
        #menu
          %ul
            %li= link_to 'home', root_path
            %li= link_to "Data Sources", data_sources_path
            %li= link_to "Tools", pulse_applications_path
            %li= link_to "Platforms", platforms_path
            - if user_signed_in? then
              %li= link_to("Sign-out", destroy_user_session_path)
            - else
              %li= link_to_unless_current('Sign-in', new_user_session_path)
        #search
          %form{:action => "", :method => "get"}
            %fieldset
              %input#search-text{:name => "s", :size => "15", :type => "text"}/
              %input#search-submit{:type => "submit", :value => "GO"}/
      #page
        #page-bgtop
          #content
            = yield

          #sidebar
            %ul
              %li
                %h2 My Data Sources
                %p Global Pulse Data Source and Application Registry
              %li
                %h2 Upstream Servers
                %p Global Pulse Data Source and Application Registry
              %li
                %h2 Links
                %ul
                  %li
                    %a{:href => "#"} Nec metus sed donec

              %ul
                %li
                  %h2 Five most recent tweets mentioning
                  %a{:target=>"_blank", :href=>"http://search.twitter.com/search?q=%23ftw"}
                    \#gpbuild:
                  #tweets.twitStream.5{:title=>"#gpbuild"}


          %div{:style => "clear: both;"} &nbsp;

      #footer
        %p
          Copyright (c) 2010 unglobalpulse.org
        #messages
          %p.notice
            = notice
          %p.alert
            = alert