= form_for(@platform) do |f|
  - if @platform.errors.any?
    #error_explanation
      %h2
        = pluralize(@platform.errors.count, "error")
        prohibited this platform from being saved:
      %ul
        - @platform.errors.full_messages.each do |msg|
          %li= msg
  .field
    = f.label :name
    %br/
    = f.text_field :name
  .field
    = f.label :url
    %br/
    = f.text_field :url
  .field
    = f.label :affiliation
    %br/
    = f.text_field :affiliation
  .field
    = f.label :primarypurpose
    %br/
    = f.text_field :primarypurpose
  .field
    = f.label :bandwidthcapability
    %br/
    = f.text_field :bandwidth
  .field
    = f.label :serverlatitude
    %br/
    = f.text_field :latitude
  .field
    = f.label :serverlongitude
    %br/
    = f.text_field :longitude

  .actions
    = f.submit
