.navigation
  %ul
    %li= icon_link_to :plus, new_data_source_data_set_path(@data_source)

%h2 Data Sets
- if @data_source.data_sets.size() > 0
  %table
    %tr
      %th Name
      %th URI
      %th
    - @data_source.data_sets.each do |ds|
      %tr
        %td= ds.name
        %td= ds.uri
        %td
          = icon_link_to :document, data_source_data_set_path(@data_source, ds)
          = icon_link_to :pencil, edit_data_source_data_set_path(@data_source, ds)

- else
  (No data sets defined yet)