= form_for(@data_source) do |f|
  - if @data_source.errors.any?
    #error_explanation
      %h2
        = pluralize(@data_source.errors.count, "error")
        prohibited this data_source from being saved:
      %ul
        - @data_source.errors.full_messages.each do |msg|
          %li= msg
  .field
    = f.label :name
    %br/
    = f.text_field :name
  .field
    = f.label :url
    %br/
    = f.text_field :url
  .field
    = f.label :source
    %br/
    = f.text_field :source
  .field
    = f.label :generatingagency
    %br/
    = f.text_field :generatingagency
  .field
    = f.label :dataformat
    %br/
    = f.text_field :dataformat
  .field
    = f.label :acquisitondate
    %br/
    = f.text_field :acquisitondate
  .field
    = f.label :contributoruid
    %br/
    = f.text_field :contributoruid
  .field
    = f.label :affiliation
    %br/
    = f.text_field :affiliation
  .field
    = f.label :whocanview
    %br/
    = f.text_field :whocanview
  .field
    = f.label :whocanedit
    %br/
    = f.text_field :whocanedit
  .field
    = f.label :whocanadmit
    %br/
    = f.text_field :whocanadmit
  .field
    = f.label :dataquality
    %br/
    = f.text_field :dataquality
  .field
    = f.label :datastandards
    %br/
    = f.text_field :datastandards
  .field
    = f.label :metatdatalink
    %br/
    = f.text_field :metatdatalink
  .field
    = f.label :apilink
    %br/
    = f.text_field :apilink


  .actions
    = f.submit
