%p#notice= notice

#page-navigation
  %ul
    %li= icon_link_to :home, data_sources_path
    %li= icon_link_to :pencil, edit_data_source_path(@data_source)
    %li= icon_link_to :document, data_source_path

.data-store
  .name
    %ul
      %li Data store
      %li= @data_source.name
  .description
    %h2 Description
    %table
      %tr
        %td Name
        %td= @data_source.name
      %tr
        %td Source
        %td= @data_source.source
      %tr
        %td Generating Agency
        %td= @data_source.generatingagency
      %tr
        %td Data Format
        %td= @data_source.dataformat
      %tr
        %td Acquisition Date
        %td= @data_source.acquisitondate
      %tr
        %td Contributor UID
        %td= @data_source.contributoruid
      %tr
        %td Affiliation
        %td= @data_source.affiliation
      %tr
        %td Who Can View
        %td= @data_source.whocanview
      %tr
        %td Who Can Edit
        %td= @data_source.whocanedit
      %tr
        %td Who can Admit
        %td= @data_source.whocanadmit
      %tr
        %td Data Quality
        %td= @data_source.dataquality
      %tr
        %td Data Standards
        %td= @data_source.datastandards
      %tr
        %td Meta Data Link
        %td= @data_source.metatdatalink
      %tr
        %td API Link
        %td= @data_source.apilink
      %tr
        %td Url
        %td= @data_source.url
  .dates
    %h2 Dates
    #timeline-chart
    %p Insert timeline chart
  .map
    %h2 Map
    #intensity-chart
  .assessment
    .tags
      %h2 Tags
    .quality-scores
      %h2 Quality Scores
  .comments
    %h2 Comments
    - @data_source.comments.each do |comment|
      %h3= comment.name
      %p= comment.content
    = form_for [@data_source, Comment.new] do |f|
      %fieldset
        %legend New Comment
        = f.label :name
        %br/
        = f.text_field :name
        %br/
        = f.label :content
        %br/
        = f.text_area :content, :rows => 4
        %br/
        = f.submit

= javascript_include_tag 'map-sample'