!!!
%html
  %head
    %title Oliver
    = stylesheet_link_tag :all
    = stylesheet_link_tag "prettify.css"
    = javascript_include_tag :defaults
    = javascript_include_tag "github.js"
    = javascript_include_tag "twitStream.js"
    = javascript_include_tag 'https://www.google.com/jsapi'
    = javascript_include_tag "prettify.js"
    =javascript_include_tag "lang-ml"
    = csrf_meta_tag
    %meta{:content => "Global Pulse Data Source Application Directory", :name => "keywords"}/
    %meta{:content => "Global Pulse Data and Application directory", :name => "description"}/
  %body
    #wrapper
      #logo
        %h1
          %a{:href => "/"} Oliver
        %p
          %em
            %a{:href=> 'http://www.unglobalpulse.org'}
              Global Pulse Directories
      #global-navigation
        = render :partial => 'layouts/global_navigation'
      #page
        #page-bgtop
          #content
            = yield
          -##sidebar
          -#  = render :partial => 'layouts/sidebar'

          %div{:style => "clear: both;"} &nbsp;
      #footer
        = render :partial => 'layouts/footer'
      -##swatch
      -#  = render :partial => 'layouts/colour_swatch'
